{% extends '@CitadelAureum/core/base.html.twig' %}
{% block body %}
    {{ employee.name }} - {{ employee.hotel.name }}

    <div class="">
        <div>test1</div>
        <div>test2</div>
    </div>
{% endblock %}