.luxury {
    background-color:#13233A!important;
    color:#F4F1EA;
}
.luxury-light {
    background-color:#1a3f5f;
    color:#F4F1EA;
}

.btn-link.luxury-light {
    background-color:#1a3f5f;
    color:#F4F1EA;
}

button.luxury-light.square.btn-link.active {
    background-color:#13233A;
    color:#F4F1EA;
}
button.luxury-light.square.btn-link:hover {
    background-color:#13233A;
}
.luxury-light.btn-primary {
    background-color:#1a3f5f;
}
.luxury-light.btn-primary:hover {
    background-color:#13233A;
}
.luxury, :root{
    --c-text-primary:#ececec;
}

body {
    background-color:#ececec!important;
}

.navigation.luxury {
    width:200px;
}

.luxury .btn-link {
    border-radius:unset;
    padding:unset;
    font-size:16px;
}
.luxury .btn-link i {
    margin-right:unset;
}
.header-logo {
    align-items: center;
    color: var(--c-text-primary);
    display: flex;
    font-weight: 300;
    padding: var(--spacing-3) 0;
    font-size:25px;
}
.header-logo span {
    font-family: 'Sageffine', sans-serif;
    color:#1a3f5f;
}
.header-logo img {
    height: 32px;
    width: 32px;
}

.navigation.luxury .navigation-section .navigation-cluster {

}
.navigation-cluster {
    padding-bottom:25px;
    border-radius:10px;
}

.square {
    border-radius:5px!important;
}
.navigation-cluster .btn-link {
    font-weight:300;
    color: #ececec;
    background-color:#1a3f5f52;
    padding:2px;
    box-shadow: 0 1px 0 rgba(26, 63, 95, 0.32);
}
.navigation .border-b {
    box-shadow: 0 1px 0 rgb(26, 63, 95);
}
.header {
    height:56px;
    box-shadow: 0 1px 0 rgb(236, 236, 236);
}