html {
    font-size: 12.5px;
}

@media (max-width: 1200px) {
    html {
        font-size: clamp(12.5px, calc(12.5px + (1200px - 100vw) / 200 * 3.5), 16px);
    }
}

@media (min-width: 1600px) {
    html {
        font-size: clamp(12.5px, calc(12.5px + (100vw - 1600px) / 320 * 3.5), 16px);
    }
}

html body {
    font-size: 1rem;
}

html .navigation-row {
    height: 2.5rem;
}

html .navigation-closed .navigation {
    width: 4.375rem;
}

html select,
html textarea,
html input {
    height: 2.5rem;
}

html select[multiple="multiple"],
html input[multiple="multiple"] {
    height: 7.5rem;
}

html textarea {
    height: 18.75rem;
}

html .form-row .pre {
    min-height: 2.5rem;
}

html .btn-primary,
html .btn-cta,
html .btn-outlined,
html .btn-outlined-highlighted,
html .btn-link {
    height: 2.5rem;
}

html .btn-small {
    height: 1.875rem;
}

html button {
    font-size: 0.8333rem;
}

body .btn-primary i,
body .btn-cta i,
body .btn-outlined i,
body .btn-outlined-highlighted i,
body .btn-link i {
    font-size: 1.25rem;
}

body .btn-primary i.end-adornment,
body .btn-cta i.end-adornment,
body .btn-outlined i.end-adornment,
body .btn-outlined-highlighted i.end-adornment,
body .btn-link i.end-adornment {
    font-size: 0.75rem;
}

html .menu {
    min-width: 11.25rem;
}

html .avatar {
    width: 3rem;
    height: 3rem;
}

html .avatar-xs {
    width: 1.5rem;
    height: 1.5rem;
}

html .avatar-sm {
    width: 2rem;
    height: 2rem;
}

html .avatar-lg {
    width: 9.375rem;
    height: 9.375rem;
}

html .modal > .modal-body {
    max-width: 50rem;
}

html .dot {
    width: 0.5rem;
    height: 0.5rem;
}
