<div class="flex flex-col gap-5">
    <div class="card">
        <div class="card-title" style="background-color:#13233A;color:#ececec;">
            Help
        </div>
        <div class="card-body">
            <div>
                This is a quick tutorial on how to use the Lost Property feature, which is designed to log Lost Property.
                <div class="text-huge text-center mt-5">Help Tab is in progress.</div>
            </div>
        </div>
    </div>
</div>